# --- PostgreSQL (Source) ---
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=financial_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# --- ClickHouse (Warehouse) ---
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DB=financial_dw
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=your_password_here
# URI for Superset
CLICKHOUSE_URI=clickhouse+http://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@${CLICKHOUSE_HOST}:${CLICKHOUSE_HTTP_PORT}/${CLICKHOUSE_DB}


# --- Kafka ---
KAFKA_BOOTSTRAP_SERVERS=kafka1:19092
KAFKA_TOPIC=postgres.public.transactions

# --- User Identity & Notifications ---
ADMIN_USERNAME=your_username
ADMIN_PHONE=+20XXXXXXXXXX

# --- Email Credentials ---
EMAIL_SENDER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here
EMAIL_RECEIVER=receiver_email@gmail.com

# Twilio (Optional now)
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_WHATSAPP_NUMBER=+14155238886

# --- Superset ---
SUPERSET_SECRET_KEY=your_secret_key_here
SUPERSET_PORT=8088
SUPERSET_DB=superset_metadata
# Using the service name from docker-compose
SUPERSET_DB_URI=postgresql://postgres:postgres@postgres:5432/superset_metadata
